# Environment variables untuk production deployment di AWS EC2

# DockerHub configuration
DOCKERHUB_USERNAME=reviinjani

# Database configuration
DB_USER=userwebdinamis
DB_PASSWORD=
DB_NAME=dbcompro_2388010027
DB_HOST=db-webdinamis
DB_PORT=3306

# NextAuth configuration untuk web-dinamis
NEXTAUTH_SECRET=your-secret-key-min-32-characters-change-me
NEXTAUTH_URL=http://13.229.108.94:3000

# Environment
NODE_ENV=production
